 .u-section-1 {
  background-image: none;
  min-height: 652px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 652px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-list-1 {
  width: 550px;
  margin: 34px auto 0 31px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 344px 109px 0 37px;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  margin: 26px 109px 0 37px;
}

.u-section-1 .u-image-1 {
  min-height: 652px;
  background-image: url("images/Marcello_Cattapan.jpg");
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-wrap-2 {
  width: calc(((100% - 1140px) / 2) + 685px);
  background-image: linear-gradient(#425465, #1a1a1a);
  margin: -652px auto 60px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 108px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  font-style: italic;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 110px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 2.25rem;
  font-weight: 600;
  font-style: italic;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 108px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
  margin: 27px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 804px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 538px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 23px;
    margin-left: 14px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 26px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 77px;
    margin-right: 149px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
    min-height: 538px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -804px;
    margin-bottom: 272px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 88px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 90px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 88px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 711px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 279px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-list-1 {
    width: 432px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 17px;
  }

  .u-section-1 .u-image-1 {
    min-height: 412px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -691px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 76px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 76px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 76px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1381px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 1px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-1 {
    min-height: 735px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -1380px;
    margin-bottom: 862px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 80px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 80px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 80px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1056px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 49px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 166px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-right: -17px;
    margin-left: 17px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 19px;
    margin-left: 17px;
  }

  .u-section-1 .u-image-1 {
    min-height: 463px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -1057px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 81px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 81px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 81px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 547px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.6;
  font-size: 1.5rem;
  margin: 43px 542px 0 40px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 40px 310px 60px 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 382px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 150px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 162px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 412px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.6;
  font-size: 1.5rem;
  margin: 55px 551px 0 31px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 40px 319px 55px 31px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 382px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 150px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 162px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 0;
    font-size: 1rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 564px;
}

.u-section-4 .u-text-1 {
  margin: 26px auto 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 750px;
  margin: 48px auto 26px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 133px;
}

.u-section-4 .u-container-layout-1 {
  padding: 5px 30px;
}

.u-section-4 .u-image-1 {
  width: 98px;
  height: 98px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 133px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin: 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 144px;
}

.u-section-4 .u-container-layout-3 {
  padding: 19px 30px;
}

.u-section-4 .u-image-2 {
  width: 91px;
  height: 95px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 144px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 144px;
}

.u-section-4 .u-container-layout-5 {
  padding: 23px 30px;
}

.u-section-4 .u-image-3 {
  width: 98px;
  height: 98px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 144px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 72px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 43px;
    margin-bottom: 26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 128px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 138px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 138px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1005px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 192px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 207px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 110px;
  }

  .u-section-4 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 207px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 110px;
  }

  .u-section-4 .u-container-layout-6 {
    padding: 0;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 838px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 17px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 121px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 110px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 133px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 144px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 135px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 342px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 750px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 171px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 98px;
  height: 98px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 171px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 171px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 28px;
}

.u-section-5 .u-image-2 {
  width: 98px;
  height: 98px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 171px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 164px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 164px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 246px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 110px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 246px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding: 5px 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 191px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 120px;
    height: 131px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 171px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 510px;
}

.u-section-6 .u-text-1 {
  margin: 17px auto 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 750px;
  margin: 23px auto 24px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 127px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 98px;
  height: 98px;
  margin: 0 auto 0 25px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 127px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 0 auto 0 37px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 129px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0;
}

.u-section-6 .u-image-2 {
  width: 98px;
  height: 98px;
  margin: 0 auto 0 25px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 129px;
}

.u-section-6 .u-container-layout-4 {
  padding: 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  margin: 0 auto 0 37px;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 147px;
}

.u-section-6 .u-container-layout-5 {
  padding: 0;
}

.u-section-6 .u-image-3 {
  width: 98px;
  height: 98px;
  margin: 0 auto 0 25px;
}

.u-section-6 .u-layout-cell-6 {
  min-height: 147px;
}

.u-section-6 .u-container-layout-6 {
  padding: 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  margin: 0 auto 0 37px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 46px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 2px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 45px;
    margin-bottom: 2px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 122px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 124px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 141px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1194px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 16px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 25px;
    margin-bottom: 24px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 210px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 213px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 278px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
    margin-right: 268px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 134px;
  }

  .u-section-6 .u-image-1 {
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 61px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 10px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 98px;
  }

  .u-section-6 .u-image-2 {
    margin-right: 242px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 75px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 11px;
    margin-right: 242px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 98px;
  }

  .u-section-6 .u-image-3 {
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 64px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.25rem;
    margin-right: 242px;
  }
}