 .u-section-1 {
  min-height: 327px;
}

.u-section-1 .u-text-1 {
  margin: 1px auto 0 0;
}

.u-section-1 .u-list-1 {
  margin: 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-list-2 {
  width: 278px;
  margin: 0 467px 1px 789px;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 0px 0px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-list-2 {
    margin-right: 170px;
    margin-left: 492px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-list-2 {
    margin-right: 60px;
    margin-left: 382px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-2 {
    margin-right: 0;
    margin-left: 262px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 75px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 36px;
  }

  .u-section-1 .u-list-2 {
    margin-bottom: 0;
    margin-left: 62px;
  }
} .u-section-2 {
  min-height: 330px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-2 .u-container-layout-1 {
  padding: 22px 0 0;
}

.u-section-2 .u-text-1 {
  margin: 0 -26px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 330px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 361px;
}

.u-section-2 .u-video-1 {
  min-height: 330px;
}

.u-section-2 .u-container-layout-3 {
  padding: 22px 0 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-list-1 {
  width: 278px;
  margin: 0 calc(((100% - 1140px) / 2) + 270px) 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 0px 0px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 331px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-2 .u-list-1 {
    margin-right: calc(((100% - 940px) / 2) + 270px);
    margin-bottom: 1px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 208px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 208px;
  }

  .u-section-2 .u-list-1 {
    margin-right: calc(((100% - 720px) / 2) + 270px);
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 971px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 92px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 18px;
    margin-left: 23px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 469px;
  }

  .u-section-2 .u-list-1 {
    margin-right: calc(((100% - 540px) / 2) + 262px);
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1020px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 65px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 263px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 297px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    margin-right: calc(((100% - 340px) / 2) + 62px);
  }
} .u-section-3 {
  min-height: 330px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-3 .u-container-layout-1 {
  padding: 22px 0 0;
}

.u-section-3 .u-text-1 {
  margin: 48px -1px 0;
}

.u-section-3 .u-image-1 {
  min-height: 330px;
  background-image: url("images/Quartodaltino2.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-video-1 {
  min-height: 330px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-list-1 {
  width: 278px;
  margin: 0 calc(((100% - 1140px) / 2) + 270px) 0 auto;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 0px 0px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-3 .u-image-1 {
    min-height: 272px;
  }

  .u-section-3 .u-list-1 {
    margin-right: calc(((100% - 940px) / 2) + 270px);
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 331px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 208px;
  }

  .u-section-3 .u-image-1 {
    min-height: 208px;
  }

  .u-section-3 .u-list-1 {
    margin-right: calc(((100% - 720px) / 2) + 270px);
    margin-bottom: 1px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 100vh;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 205px;
  }

  .u-section-3 .u-image-1 {
    min-height: 468px;
  }

  .u-section-3 .u-list-1 {
    margin-right: calc(((100% - 540px) / 2) + 262px);
    margin-bottom: 6px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 899px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 274px;
  }

  .u-section-3 .u-image-1 {
    min-height: 295px;
  }

  .u-section-3 .u-list-1 {
    margin-right: calc(((100% - 340px) / 2) + 62px);
    margin-bottom: 0;
  }
} .u-section-4 {
  min-height: 330px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-4 .u-container-layout-1 {
  padding: 22px 0 0;
}

.u-section-4 .u-text-1 {
  margin: 80px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 330px;
}

.u-section-4 .u-container-layout-2 {
  padding: 2px 0 0;
}

.u-section-4 .u-image-1 {
  height: 326px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-video-1 {
  min-height: 330px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-4 .u-list-1 {
  width: 278px;
  margin: 0 calc(((100% - 1140px) / 2) + 270px) 0 auto;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 0px 0px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 331px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-4 .u-image-1 {
    height: 269px;
  }

  .u-section-4 .u-list-1 {
    margin-right: calc(((100% - 940px) / 2) + 270px);
    margin-bottom: 1px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 208px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 208px;
  }

  .u-section-4 .u-image-1 {
    height: 206px;
  }

  .u-section-4 .u-list-1 {
    margin-right: calc(((100% - 720px) / 2) + 270px);
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1258px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 164px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 297px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 468px;
  }

  .u-section-4 .u-image-1 {
    height: 464px;
  }

  .u-section-4 .u-list-1 {
    margin-right: calc(((100% - 540px) / 2) + 262px);
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 891px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 295px;
  }

  .u-section-4 .u-image-1 {
    height: 292px;
  }

  .u-section-4 .u-list-1 {
    margin-right: calc(((100% - 340px) / 2) + 62px);
    margin-bottom: 1px;
  }
}